@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jost {
  font-family: "Jost";
}

@font-face {
  font-family:"SF-Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}


.font-pacifico{
  font-family: 'Pacifico', cursive;

}

.selected-sidebar-text{
  @apply font-medium text-white
}

.unselected-sidebar-text {
  @apply text-neutral-400
}

.selected-sidebar-bg{
  @apply bg-neutral-800 rounded-md lg:rounded-[5px]
}

/*bg-white bg-opacity-[3.5%] rounded-md*/
.unselected-sidebar-bg{
  @apply bg-transparent rounded-none
}

.menucont{
    @apply flex flex-col 
}

.sidebarwrapper{
    @apply   bg-black bg-opacity-30 h-auto hidden md:py-[12px]  md:flex flex-col  
  }
  

.sidebardivs{
    @apply px-4 py-3 pt-0 m-2 my-0 mb-2 bg-opacity-30 flex flex-col
}

.sidebarprofile{
    @apply px-4 pt-3 pb-0 m-2 my-1 mb-0 bg-opacity-30 flex flex-col
}


.quicktext{
    @apply hidden
  }

  .postcont{
   @apply px-4 pr-6  border-b border-b-neutral-800
  }

.quickcont{
    @apply mb-0 mt-[16px]  rounded-sm px-2 flex flex-row items-center content-center
  }

  .profiletext{
    @apply pl-[0px]  mt-1 text-[14px]  font-semibold text-neutral-300 font-inter
  }
  
  .logtext{
    @apply font-inter font-medium mr-[0px] text-[14px] ml-auto text-red-400 my-auto
  }

.msgcont{
    @apply hidden
}

.sidebarmessage{
    @apply px-4 py-3 pt-1 m-2 my-1 bg-opacity-30 flex flex-col
}

.bgcol{
    @apply bg-neutral-900 bg-opacity-[100%] flex flex-col w-screen h-screen 
}

.menumain{
   @apply rounded-none px-1 h-screen  border-l border-b border-b-gray-800 border-l-gray-800  md:px-2 bg-black bg-opacity-30  border-l border-l-neutral-900 flex flex-col  lg:space-y-2 space-y-3 lg:w-52 py-3 md:py-4
}

.selected-sidebar-icon{
  @apply text-white
}

.unselected-sidebar-icon{
  @apply text-neutral-400
}
.tab-item-animate {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: 32px;
  transform-origin: 0 0;
  transition: transform 0.25s;
}

.tabs .tabs-item:first-child.active ~ .tab-item-animate {
  transform: translateX(0) scaleX(0.333);
}

.tabs .tabs-item:nth-child(2).active ~ .tab-item-animate {
  transform: translateX(33.333%) scaleX(0.333);
}
.tabs .tabs-item:nth-child(3).active ~ .tab-item-animate {
  transform: translateX(calc(33.333% * 2)) scaleX(0.333);
}


.tag-selected{
  @apply text-neutral-900 bg-white bg-opacity-90 border border-black;
}

.tag-unselected{
  @apply bg-black bg-opacity-20 border border-neutral-600 text-neutral-400;
}
.font-sf{
  font-family:"SF-Pro";
}

.font-inter {
  font-family: "Inter";
}
.code {
  font-family: "Source Code Pro", monospace;
  display: block;
  background-color: white;
  color: #000000;
  padding: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  display: block;
}
#midcont {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#midcont::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.truncate{
text-overflow: ellipsis;

/* Needed to make it work */
overflow: hidden;
white-space: nowrap;

}

div.fadeMe {
  
  background: rgba(0,0,0,0.7); 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}
.bg-stickytitle{
  background-color: #0d0d0d;
}

#publishtextarea{
  text-size-adjust: none;

}

#posttext{
  text-size-adjust: none;

}

.style13{
  font-size: 14px;
}

 #publishtextarea:focus {
  outline: 0;
}
#popup{
  z-index: 20;
}

#tags {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#tags::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#myInputField {
  border:1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}
.coverdiv{
background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.73)),
}

.tag {
  @apply text-blue-500 py-[2px];
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  color: #a3a3a3;
  display: block; /* For Firefox */
}



.tag span[data-role="remove"] {
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.tag span[data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}


select {
  @apply mt-2 appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

table{
  @apply w-2/3 mx-auto my-10 font-inter border border-neutral-200;
}

th{
  @apply p-3 py-2 bg-blue-500 text-white font-semibold text-left border border-white;
}

td {
  @apply p-3 py-2 text-sm border border-neutral-200;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
